*{
  background:#d3e034;
  color: #ffffff;
}
img{
  width:330px;
  height:300px;
    border:10px solid rgb(255, 247, 248);

}
fieldset{
  width: 60%;
  margin: 20px 40px 20px 20px;
  background:rgb(11, 235, 33);
  border: none;
  border-radius:20px;
}
p{
  background:rgb(11, 235, 33);
  width:30%;
  border-radius: 40px;
  display: inline-block;
  font-size: 30px;
  margin: 0px 30px;
}


@media screen and (max-width:400px){
  img{
    margin:0px 10px 10px;
    width: 200px;
    height:160px;
  }
  fieldset{
    width: 250px;
    border-radius: 10px;

  }
  p{
    font-size: 15px;
    width: 230px;
  }
  .sencillo{
  width: 250px;
  }

}
